/* Fonts */
@font-face {
    font-family: 'exolight';
    src: url('fonts/exo-light-webfont.eot');
    src: url('fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-light-webfont.woff2') format('woff2'),
         url('fonts/exo-light-webfont.woff') format('woff'),
         url('fonts/exo-light-webfont.ttf') format('truetype'),
         url('fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Links */
a {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

html {
  height: 100%;
  background: url('../images/inner.jpg') no-repeat center center fixed;
  background-size: cover;

  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Body/Global Stuff */
body {
  /* Text Style */
  color: white;
  font-size: 16pt;
  text-align: center;
  font-family: exolight !important;
  
  /* Vertical Align Stuff */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,5);
     -moz-box-shadow: inset 0 0 100px rgba(0,0,0,5);
          box-shadow: inset 0 0 100px rgba(0,0,0,5);
}

/* Classes */
.inner {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  text-decoration: none;
  border: 2px solid white;
  color: white;
  padding: .5em 1em;
}

.btn:hover {
  color: orange;
  border: 2px solid orange;
}
