/* CSS Specific to the Start Page */
span {
  display: inline-block;
}

label {
  font-weight: bold;
  margin-bottom: 15px;
}

span div {
  display: none;
}

span:hover div {
  display: block;
  position: absolute;
  font-size: 10pt;
}

html {
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.footer {
  font-size: 12pt;
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.setting {
  font-weight: normal;
  color: white;
}

.setting:hover {
  color: orange;
}
